@media only screen and (max-width: 500px) {
    body #main-hobbies {
        margin: 20px 15px 15px 15px;
        font-size: 15px;
    }

    #main-hobbies .categories {
        width: 90%;
    }

    #main-hobbies .categories h1 {
        font-size: 20px;
    }

    #main-hobbies .categories p {
        margin: 15px 30px;
    }

    #main-hobbies .categories .buttons {
        width: 22%;
        font-size: 15px;
    }
}

#main-hobbies {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 125px 75px 125px;
}

.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    font-weight: 300;
}

.categories h1 {
    color: #1C91D0;
    font-weight: 300;
}

.categories img {
    width: 85%;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.categories p {
    margin: 15px 60px;
}

.categories .buttons {
    margin: 20px 10px;
    width: 20%;
    border-radius: 5px;
    padding: 10px;
}