@font-face {
    font-family: Roboto, 'Segoe UI';
    src: url(./assets/fonts/Roboto-Regular.ttf);
}

* {
    text-align: justify;
}

/* Desktops view: */
@media only screen and (min-width: 500px) {

    .col-d-1 {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .col-d-2 {
        display: flex;
    }

    /* right buttons */
    .col-d-3 {
        display: flex;
        justify-content: flex-end;
        margin: 20px 100px 20px 0px;
        width: 400px;
    }

}

/* Tablets view: */
@media only screen and (max-width: 768px) {

    /* header content */
    .col-u-1 {
        display: flex;
        width: 100%;
    }

    /* logo */
    .col-u-2 {
        display: flex;
        margin-left: -50px;
    }

    /* right buttons */
    .col-u-3 {
        display: flex;
        justify-content: flex-end;
        margin: 20px 20px 20px 0px;
        width: 400px;
    }

}

/* Mobile phones view: */

@media only screen and (max-width: 500px) {

    /* header content */
    .set-header {
        margin: 15px 10px 20px 10px;
    }

    .set-header .dropdown {
        display: flex;
    }

    .dropdown .dropdown-content a {
        padding: 10px 7px;
        font-size: 15px;
    }

    .dropdown .dropbtn {
        padding: 10%;
        font-size: 25px;
        width: 60%;
        margin-left: 15%;
    }

    .set-header .left-buttons {
        font-size: 13px;
    }

    .set-header .left-buttons p {
        display: none;
    }

    body footer {
        margin: 20px 15px 20px 15px;
    }

    footer a .fab {
        font-size: 18px;
    }

    .under-line p {
        font-size: 10px;
    }

    .col-1 {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    /* logo */
    .col-2 {
        display: flex;
        width: 85%;
    }

    /* right buttons */
    .col-3 {
        display: none;
    }

}

a:link {
    text-decoration: none;
}

body {
    background-color: #FAFAFA;
    font-family: Roboto;
    color: grey;
    font-size: 1vw;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 20px 125px 50px 125px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
    display: flex;
}

img[alt="logo"] {
    display: flex;
    max-width: 60%;
    height: auto;
    margin: 15px 15px 15px 90px;
}

.left-buttons {
    display: flex;
    margin: 10px 0;
}

.left-buttons a {
    display: flex;
}

.left-buttons p {
    margin: -2px 0;
    font-weight: 200;
    color: grey;
}

.fas {
    font-size: 100%;
    margin: 0 3px;
    color: #1C91D0;
}

.dropdown {
    display: none;
    flex-direction: column;
    width: 25%;
    margin: 12% 0 0 70%;
    position: absolute;
}

.dropdown .fas {
    font-size: 80%;
    color: whitesmoke
}

.dropdown button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    width: 100%;
    padding: 7%;
    background-color: #FE5E00;
    color: whitesmoke;
    transition-duration: 0.4s;
    cursor: pointer;
}

.dropdown button:hover {
    background-color: #165c80;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown-content {
    background-color: #1C91D0;
    display: inline-block;
    z-index: 1;
    visibility: hidden;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
}

.dropdown-content a {
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    color: whitesmoke;
}

.dropdown-content a:hover {
    background-color: #165c80;
    transition-duration: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right-buttons {
    display: flex;
    justify-content: flex-end;
    margin: 20px 100px 20px 0px;
    width: 400px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border-style: none;
    width: 29%;
    height: 100%;
    background-color: #FE5E00;
    color: whitesmoke;
    font-size: 1.1vw;
    border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer;

}

.buttons:hover {
    background-color: #165c80;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    margin: 20px 125px 20px 125px;
}

hr {
    border-top: 1px solid #d4d4d4;
}

.under-line {
    display: flex;
    justify-content: space-between;
    color: #1C91D0;
    font-weight: 300;
}

footer ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

footer ul li {
    width: 25px;
    margin: 0 5px;
    color: #1C91D0;
}

.fab {
    font-size: 125%;
    /* 25px */
}

.fal {
    font-size: 100%;
}

footer a {
    color: #1C91D0;
}