#main-projects {
    display: flex;
    margin: 20px 125px 75px 125px;
}

#nasaApi {
    width: 70%;
}

#nasa-info {
    width: 30%;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 0%),
        0 6px 20px 0 rgb(0 0 0 / 12%);
}

#nasa-info p {
    box-sizing: border-box;
    padding: 0 0 0 20px;
    line-height: 0.4;
}